<h1>Bookmark Manager</h1>
<div class="">
  <% @bookmarks.each do |bookmark| %>
    <p><%= bookmark %></p>
  <% end %>
</div>
<br><br>

<h5>Add a new bookmark</h5>

<form action='/bookmarks' method='post'>
<input type='text' name='new_url'>
<input type='submit' name='button' value='Add'>
</form>